.jumbotron{
    display: flex;
    height: 95px;
    width: auto;   
}

.page-header{
    display: flex;
    position: relative;
    align-self: center;
    align-items: center;
    padding-bottom: 25px;
    
}

.navbar-right{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 110px;  
    align-self: center;
    margin-top: 15px;
   
}

.container{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    max-width: 1000px;
    max-height: 1100px;
    margin-top: 70px;
    margin-left: 25px;
    margin-bottom: 35px
}

.contact{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    background-color: lightgray;
    size: 15px;
    width: 600px;
    margin-left: 150px;
}

.pure-control-group reqf{
    font-style: italic;
    
    display: inline-block;
    margin-right: 50px;;

    
}
.pure-control-group text {
    text-align: right;
}


.navBar {
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 35px;
    justify-content: space-around;
    
    
}

.navMember{
    margin: 35px;
    padding: 22px;
    text-align: justify;
    outline-color: black;

}

.footer{
    background-color: lightgreen;
    align-self: center;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .navMember{
        
            outline-color: black;
            margin: 5px;
            padding: 5px;
            text-align: left;  
        
    }
    .navBar {
        list-style: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 0px;
        justify-content: space-between;    
        
    }

    .header{
        background-color: skyblue;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        border-width: inherit;
        text-align: center;
        padding-bottom: 0px;
    }

    
    
}
