.jumbotron{
    display: flex;
    height: 95px;
    width: auto;   
}

.page-header{
    display: flex;
    position: relative;
    align-self: center;
    align-items: center;
    padding-bottom: 25px;
    
}

.navbar-right{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 110px;  
    align-self: center;
    margin-top: 15px;
   
}