
.jumbotron{
    display: flex;
    height: 95px;
    width: auto;   
}

.page-header{
    display: flex;
    position: relative;
    align-self: center;
    align-items: center;
    padding-bottom: 25px;
    
}

.navbar-right{
    display: flex;
    align-items: center;
    position: relative;
    right: -100px;
    align-self: center;
    margin-top: 15px;
   
}



.header{
    flex-direction: column;
    background-color: skyblue;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    align-self: center;
    
}

.container{
    display: flex;
    justify-content: center;
    padding: 3px;
    
}


.content{
    display: flex; 
    flex-direction: row;  
   
    justify-content: space-evenly;

}

.rCol{
    align-items: flex-end;
    margin: 16px;

}

.rCol img {
    width: auto;
    align-self: flex-start;
    height: 600px;
    border-right: 15px;
    object-fit: contain;

}

.mCol{
    display: inline-block;
    box-sizing: border-box;
    border-width: 15px;
    margin: px;
    padding: 10px;

}

.lCol {
    margin: 16px;
    padding: 23px;
    justify-content: flex-start;

}

.navBar {
    list-style: none;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 35px;
    justify-content: space-around;
    
    
}

.navMember{
    margin: 50px;
    padding: 22px;
    text-align: justify;
    outline-color: black;

}

.footer{
    background-color: lightgreen;
    align-self: center;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {

    .navMember{
        outline-color: black;
        margin: 5px;
        padding: 5px;
        text-align: left;
        
    }

    .navBar {
        list-style: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    }


    .rCol img{
        width: 150px;
        height: 200px;
        
    }
    .mCol{
        width: 25%;
        padding: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .mCol p {
        margin-right: 0px;
        margin-left: 0px;

    }

    
}