
.header{
    align-self: center;
    margin-right: 40px;
    margin-left: 40px;
    padding: 25px;

}


.container{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
}

.rCol{
    width: 900px;
    height: 800px;
}


.navBar {
    list-style: none;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 35px;
    justify-content: space-around;
    
    
}

.navMember{
    margin: 50px;
    padding: 22px;
    text-align: justify;
    outline-color: black;

}

@media screen and (max-width: 600px) {
    .navMember{
        margin: 50px;
      
        text-align: justify;
        outline-color: black;
    }
    .navBar {
        list-style: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
            
        
    }

}