

.jumbotron{
    display: flex;
    height: 95px;
    width: auto;   
}

.page-header{
    display: flex;
    position: relative;
    align-self: center;
    align-items: center;
    padding-bottom: 25px;
    
}

.navbar-right{
    display: flex;
    align-items: center;
    position: relative;
    right: -100px;
    align-self: center;
    margin-top: 15px;
   
}


.container{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
}

.rCol{
    width: 900px;
    height: 800px;
}


.navBar {
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 35px;
    justify-content: space-around;   
}

.navMember{
    margin: 50px;
    padding: 22px;
    text-align: justify;
    outline-color: black;

}

@media screen and (max-width: 600px) {
    .navMember{
        
        outline-color: black;
        margin: 5px;
        padding: 5px;
        text-align: left;  
    
}
    .navBar {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    justify-content: space-between;    
    
}


     .header{
    background-color: skyblue;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    border-width: inherit;
    text-align: center;
    padding-bottom: 0px;
}
    .Images{
        width: 400px;
        align-self: right;
    }

}


.footer{
    background-color: lightgreen;
    align-self: center;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    font-weight: bold;
}